= render 'layouts/nav/group_settings'
.scrolling-tabs-container{ class: nav_control_class }
  .fade-left
    = icon('angle-left')
  .fade-right
    = icon('angle-right')
  %ul.nav-links.scrolling-tabs
    = nav_link(path: ['groups#show', 'groups#activity', 'groups#subgroups'], html_options: { class: 'home' }) do
      = link_to group_path(@group), title: 'Home' do
        %span
          Group
    = nav_link(path: ['groups#issues', 'labels#index', 'milestones#index']) do
      = link_to issues_group_path(@group), title: 'Issues' do
        %span
          Issues
          - issues = IssuesFinder.new(current_user, group_id: @group.id, state: 'opened').execute
          %span.badge.count= number_with_delimiter(issues.count)
    = nav_link(path: 'groups#merge_requests') do
      = link_to merge_requests_group_path(@group), title: 'Merge Requests' do
        %span
          Merge Requests
          - merge_requests = MergeRequestsFinder.new(current_user, group_id: @group.id, state: 'opened', non_archived: true).execute
          %span.badge.count= number_with_delimiter(merge_requests.count)
    = nav_link(path: 'group_members#index') do
      = link_to group_group_members_path(@group), title: 'Members' do
        %span
          Members

    = nav_link(controller: [:stats]) do
      = link_to group_analytics_path(@group), title: 'Contribution Analytics', data: {placement: 'right'} do
        %span
          Contribution Analytics
