- if project_nav_tab? :team
  = nav_link(controller: [:members, :teams]) do
    = link_to namespace_project_settings_members_path(@project.namespace, @project), title: 'Members', class: 'team-tab tab' do
      %span
        Members
- if can_edit
  = nav_link(controller: :repository) do
    = link_to namespace_project_settings_repository_path(@project.namespace, @project), title: 'Repository' do
      %span
        Repository
  = nav_link(controller: :integrations) do
    = link_to namespace_project_settings_integrations_path(@project.namespace, @project), title: 'Integrations' do
      %span
        Integrations

  - if @project.feature_available?(:builds, current_user)
    = nav_link(controller: :ci_cd) do
      = link_to namespace_project_settings_ci_cd_path(@project.namespace, @project), title: 'CI/CD Pipelines' do
        %span
          CI/CD Pipelines
  = nav_link(controller: :pages) do
    = link_to namespace_project_pages_path(@project.namespace, @project), title: 'Pages', data: {placement: 'right'} do
      %span
        Pages
  = nav_link(controller: :audit_events) do
    = link_to namespace_project_audit_events_path(@project.namespace, @project), title: "Audit Events" do
      %span
        Audit Events
